# Ohati Version Control Ignore Rules
ohati_config.php
cpanel_config.php
ohati.db
uploads/*
!uploads/.htaccess
*.zip
*.jks
!android/app/ohati-release-key.jks
*.p8
*.key
*.cer
*.p12
*.certSigningRequest
*.mobileprovision
node_modules/
scratch/
mail_log.txt
sms_log.txt
test_login.php

